// color cube
$Woodsmoke: #121117;
$Scarpaflow: #4E4D51;
$Bluelagoon: #038483;
$Edward: #A2ADAE;
$Driftwood: #B0864F;
$Goldentainoi: #FECC60;
$Anakiwa: #93FBFB;
$Pelorous: #39C4C6;
$White: #FFFFFF;

// median cut
$Graynurse: #E3E7DF;
$Shark: #1E2223;
$Flint: #706C68;
$Seanymph: #72A2A3;
$Slategray: #778A94;

// material design
$Capepalliser: #9C6F46;
$Zorba: #A79D8E;
$Surfiegreen: #0D7E7E;
$Ebonyclay: #24333D;
$Goldsand: #E5BE92;